@font-face
{
    src: url("./Assets/fonts/Yekan.ttf");
    font-family: yekan;
}
body
{
    height: 100vh;
    display: flex !important;
    align-items: center !important;
    font-family: yekan;
    direction: rtl;
}
.my-container
{
        width: 683px !important;
        height:92vh !important;
        border-radius: 36.3px;
        border: solid 7px rgba(241, 196, 15, 0.5);
}
.resturant-name 
{
height: 8%;
text-align: center;
}
.resturant-name-text
{
font-size: 20pt;
font-weight: bold;
}
.foods-row-container 
{
height: 67%;
overflow-y: scroll;

}
.foods-row-container::-webkit-scrollbar {
    display: none;
}
.foods-row
{

    height:19%;
    border-bottom: 1px solid gray;
}
.foods-img
{
    height:80%;
}
.foods-totalprice-text
{
    font-weight: bold;
    font-size: 20pt;
letter-spacing: -6px;
}
.foods-totalprice-unit
{
    font-weight: bold;
    font-size: 16pt;
}
.food-title-div
{
    height: 33%;
}
.food-title
{
    font-weight: bold;
    font-size: 20pt;
}
.food-price-div
{
    height: 33%;
}
.food-number-div
{
    height: 33%;
}
.food-number-mark-div
{
    height: 30px;
}
.food-number-div
{
    width: 15%;
}
.food-price-text
{
    font-size: 18pt;
    letter-spacing: -3px;
}
.food-price-unit
{
    font-size: 18pt;
}
.food-number-text
{
font-size: 24pt;
text-align: start;
}
.plusmark
{
    color: orangered;
    height: 20px;
}
.minusmark
{
    color: orangered;
    height: 20px;
}
.footer
{
    height: 25%;
    -webkit-box-shadow: 0px -9px 40px -11px rgba(128,128,128,1);
    -moz-box-shadow: 0px -9px 40px -11px rgba(128,128,128,1);
    box-shadow: 0px -9px 40px -11px rgba(128,128,128,1);
}
.footer-leftSide 
{
    width: 46%;
}
.footer-rightSide p
{
    font-size: 16.5pt;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.71);
margin: 0;
}
.payablePrice-number
{
    font-size: 45pt !important;
    color: black !important;

}
.payablePrice-unit
{
    font-size: 29pt !important;
    color: black !important;
}
.discountCode-input
{
        width:297.2px;
        height: 45.6px;
        border-radius: 22.8px;
        border: solid 1.2px #e67e22;
        position: relative;
        right:22.5px;
        outline: none;
}
.discountCode-button {
    width: 38.6px;
    height: 38.6px;
    border: none;
    background-color: #f39c12;
    border-radius: 50%;
    outline: 0;
    position: relative;
    color: white;
    left:22.5px;
    outline: none;
  
  }
  .correctCode
  {
    width:297.2px;
    height: 45.6px;
    border-radius: 22.8px;
    border: solid 1.2px #e67e22;
    position: relative;
    right:22.5px;
    outline: none;
    background-color: rgb(140, 255, 140) !important;
  }
  .wrongtCode
  {
    background-color: rgb(255, 140, 140) !important;
  }
  .correctCodebtn
  {
    width: 38.6px;
    height: 38.6px;
    border: none;
    border-radius: 50%;
    outline: 0;
    position: relative;
    color: white;
    left:22.5px;
    outline: none;
    background-color: red !important;
  }
  .submitButton {
    width: 297.2px;
    height: 67.9px;
    border-radius: 11.7px;
    font-size: 20pt;
    color: white;
    border: none;
    background-color: #e67e22;
    outline: none;
  }