@font-face
{
    src: url("./Assets/fonts/Yekan.ttf");
    font-family: yekan;
}
body
{
    height: 100vh;
    display: flex !important;
    align-items: center !important;
    font-family: yekan;
    direction: rtl;
}
.my-container
{
        width: 85vw !important;
        height:92vh;
        border-radius: 36.3px;
        border: solid 7px rgba(241, 196, 15, 0.5);
}
.resturant-name 
{
height: 8%;
text-align: center;
}
.resturant-name-text
{
font-size: 20pt;
font-weight: bold;
}
.foods-row-container 
{
height: 67%;
overflow-y: scroll;
}
.foods-row
{

    height:19%;
    border-bottom: 1px solid gray;
}
.foods-img
{
    height:80%;
}
.foods-totalprice-text
{
    font-weight: bold;
    font-size: 20pt;
letter-spacing: -6px;
}
.foods-totalprice-unit
{
    font-weight: bold;
    font-size: 16pt;
}
.food-title-div
{
    height: 33%;
}
.food-title
{
    font-weight: bold;
    font-size: 20pt;
}
.food-price-div
{
    height: 33%;
}
.food-number-div
{
    height: 33%;
}
.food-number-mark-div
{
    height: 30px;
}
.food-number-div
{
    width: 15%;
}
.food-price-text
{
    font-size: 18pt;
    letter-spacing: -3px;
}
.food-price-unit
{
    font-size: 18pt;
}
.food-number-text
{
font-size: 24pt;
text-align: start;
}
.plusmark
{
    color: orangered;
    height: 20px;
}
.minusmark
{
    color: orangered;
    height: 20px;
}